.cart {
    display: flex;
    flex-direction: column;
    margin-left: 7rem;
    margin-top: 3rem;
    gap: 1rem;
}

.carttitles{
    display: grid;
    grid-template-columns: 50% 10% 10% 2%;
    gap: 2%;
}

.cartlist{
    display: grid;
    grid-template-columns: 50% 10% 10% 2%;
    gap: 2%;
}

.carttotal {
    display: grid;
    grid-template-columns: 64% 10%;
    font-weight:600;
}


#checkout {
    width: 6rem;
    margin-left: 55rem;
}

@media only screen and (max-width: 900px) {
    .cart {
        margin-left: 3rem;
    }
    #checkout {
        margin: 0;
        align-self: center;
    }
    .cartlist {
        font-size: 0.8rem;
    }

    .carttitles{
        
        grid-template-columns: 55% 12% 12% 5%;
        
    }
    
    .cartlist{
        grid-template-columns: 55% 12% 12% 5%;
        
    }
    
    .carttotal {
       
        grid-template-columns: 71% 10%;
        
    }
    
}