.About{
    display: flex;
    flex-direction: column;
    margin-left: 13rem;
    margin-right: 13rem;
}

.About h2{
    font-family: 'Allura';
    font-size: 2rem;
    font-weight: 400rem;
}
.aboutcontent{
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

#abouttext{
    max-width: 60%;
}

#aboutimg{
    min-width: 30%;
}